Repository yrro/rsync.net-exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, pytest, pip-audit

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-merge-conflict
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: trailing-whitespace


- repo: https://github.com/psf/black
  rev: 24.4.0
  hooks:
  - id: black
    args:
    - --preview


- repo: https://github.com/python-poetry/poetry
  rev: 1.8.2
  hooks:

  - id: poetry-check

  - id: poetry-lock


- repo: https://github.com/PyCQA/bandit
  rev: 1.7.8
  hooks:
  - id: bandit
    exclude: ^tests/
    args: ["-c", "pyproject.toml"]
    additional_dependencies:
    - bandit[toml]


- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: 'v0.3.7'
  hooks:
  - id: ruff


- repo: local
  hooks:

  - id: mypy
    name: mypy
    entry: poetry run mypy
    language: system
    pass_filenames: false
    types:
    - python

  - id: pylint
    name: pylint
    entry: poetry run pylint
    language: system
    types:
    - python
    exclude: ^tests/

  - id: pytest
    name: pytest
    entry: poetry run pytest
    language: system
    pass_filenames: false
    types:
    - python

  - id: pip-audit
    name: pip-audit
    entry: poetry run pip-audit --skip-editable --ignore-vuln=PYSEC-2023-242 --desc=on
    language: system
    files: ^poetry\.lock$
    pass_filenames: false

Fix micro workflow name
  .github/workflows/micro.yaml
Due: none

Install DNF for the micro container workflow
  .github/workflows/micro.yaml
Due: none

build.conf refactor
  build.py
Due: mypy, pylint, pytest

Tell dnf on the host to import PGP keys from the container in which it's running
  build.py
Due: mypy, pylint, pytest

Try to import keys into the container's RPM database before running DNF
  build.py
Due: mypy, pylint, pytest

Now that DNF on the host works, we don't need to use the nested container workflow
  .github/workflows/micro.yaml
  Containerfile.builder2
  build-inside.py
  build.py
Due: mypy, pylint, pytest

Switch main worflow to build micro image
  .github/workflows/main.yaml
  build.py
Due: mypy, pylint, pytest

Remove experimental micro workflow
  .github/workflows/micro.yaml
Due: none

style
  build.py
Due: mypy, pylint, pytest

Install DNF in main workflow
  .github/workflows/main.yaml
Due: none

Add our labels back in
  .github/workflows/main.yaml
Due: none

Fix label quoting
  .github/workflows/main.yaml
Due: none

Try to fix multiline string
  .github/workflows/main.yaml
Due: none

Go back to unfolded multiline string
  .github/workflows/main.yaml
Due: none

Test container image without overriding default command line
  tests/test_container.py
Due: mypy, pytest

Configure container image default command
  build.py
Due: mypy, pylint, pytest

Remove /home/runer/.rpm from production image
  build.py
Due: mypy, pylint, pytest

Remove ~runner after it's used by dnf
  build.py
Due: mypy, pylint, pytest

Don't remove ~runner/.rpmdb because we should figure out why it's created at all
  build.py
Due: mypy, pylint, pytest

Attempt to force rpm to use container rpmdb
  build.py
Due: mypy, pylint, pytest

Restore manual rpm key import
  build.py
Due: mypy, pylint, pytest

Send SIGTERM to stop the container
  build.py
Due: mypy, pylint, pytest

Debugging for rpm --import command
  build.py
Due: mypy, pylint, pytest

Try importing to wherever rpm wants to by default, perhaps ~runner/.rpmdb?
  build.py
Due: mypy, pylint, pytest

Appease bandit
  build.py
Due: mypy, pylint, pytest

appease pylint
  build.py
Due: mypy, pylint, pytest

Format code
  build.py
Due: mypy, pylint, pytest

Don't ignore runner environment - let's get the build working again and figure this out later
  build.py
Due: mypy, pylint, pytest

Group output within build.sh
  build.py
Due: mypy, pylint, pytest

Log completed process status
  build.py
Due: mypy, pylint, pytest

Log installed RPMs during build
  build.py
Due: mypy, pylint, pytest

Container build debugging
  build.py
Due: mypy, pylint, pytest

2nd try to reset environment so that rpm uses /var/lib/rpm within the production container
  build.py
Due: mypy, pylint, pytest

Flush after issuing workflow commands
  build.py
Due: mypy, pylint, pytest

Initialize PATH when running rpm etc
  build.py
Due: mypy, pylint, pytest

Print out rpm macros
  build.py
Due: mypy, pylint, pytest

Print user rpm macros
  build.py
Due: mypy, pylint, pytest

Show which RPM macro files are being read
  build.py
Due: mypy, pylint, pytest

Configure GitHub actions runner RPM to use the same RPM database path as configured within the ubi-micro container
  .github/workflows/main.yaml
  build.py
Due: mypy, pylint, pytest
