Repository yrro/rsync.net-exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, mypy, pylint, pytest

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-merge-conflict
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: trailing-whitespace


- repo: https://github.com/psf/black
  rev: 24.4.0
  hooks:
  - id: black
    args:
    - --preview


- repo: local
  hooks:

  - id: safety-check
    name: safety check
    entry: bash -c 'poetry export --with=dev --all-extras | poetry run safety check --stdin -i 65232'
    language: system
    files: ^poetry\.lock$

  - id: mypy
    name: mypy
    entry: poetry run mypy
    language: system
    pass_filenames: false
    types:
    - python

  - id: pylint
    name: pylint
    entry: poetry run pylint
    language: system
    types:
    - python
    exclude: ^tests/

  - id: pytest
    name: pytest
    entry: poetry run pytest
    language: system
    pass_filenames: false
    types:
    - python


- repo: https://github.com/python-poetry/poetry
  rev: 1.8.2
  hooks:
  - id: poetry-check
  - id: poetry-lock
    args:
    - --check
    files: ^pyproject\.toml$


- repo: https://github.com/PyCQA/bandit
  rev: 1.7.8
  hooks:
  - id: bandit
    exclude: ^tests/
    args: ["-c", "pyproject.toml"]
    additional_dependencies:
    - bandit[toml]


- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: 'v0.3.7'
  hooks:
  - id: ruff
    args:
    - --fix
    - --exit-non-zero-on-fix

Get test_container working
  Containerfile
  poetry.lock
  pyproject.toml
  tests/test_collector.py
  tests/test_container.py
Due: safety-check, mypy, pytest

Update pre-commit action verions
  .github/workflows/pre-commit.yaml
Due: none

Update github workflows to build rsync.net-exporter container image
  .github/workflows/main.yaml
Due: none

style
  tests/test_container.py
Due: mypy, pytest

Update to actions/checkout@v4
  .github/workflows/main.yaml
  .github/workflows/pre-commit.yaml
Due: none

Update actions/setup-python to v5
  .github/workflows/main.yaml
  .github/workflows/pre-commit.yaml
Due: none

Remove obsolete(?) codeql-analysys workflow
  .github/workflows/codeql-analysis.yml
Due: none

Grant main workflow permission to publish packages
  .github/workflows/main.yaml
Due: none

Update README
  README.md
Due: none

Fix scan workflow container image name
  .github/workflows/scan.yaml
Due: none

Remove scorecard workflow
  .github/workflows/scorecard.yml
Due: none

Prefer COPY to ADD in Containerfile
  Containerfile
Due: none

Label container image with correct date format
  .github/workflows/main.yaml
Due: none

Update dependencies
  poetry.lock
  pyproject.toml
Due: safety-check

Remove safety in favour of poetry audit plugin
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: safety-check

Use pip-audit
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: safety-check

Move local pre-commit hooks to run last
  .pre-commit-config.yaml
Due: none

README: fix port number
  README.md
Due: none

README: add meta job sample Prometheus config
  README.md
Due: none

test: add timeout to probe container test
  tests/test_container.py
Due: mypy, pytest

Add pytest-cov
  .gitignore
  poetry.lock
  pyproject.toml
Due: safety-check

README: separate sub-section for pre-commit
  README.md
Due: none

README: explicitly say that podman is needed for the container tests
  README.md
Due: none

Add pytest-cov
  .gitignore
  README.md
  pyproject.toml
Due: none

log_config: simplify to a single method that configures logging if appropriate given the host environment
  src/rsync_net_exporter/__init__.py
  src/rsync_net_exporter/log_config.py
Due: mypy, pylint, pytest

collector: raise exception if an RSS document has no items
  src/rsync_net_exporter/collector.py
  tests/test_collector.py
Due: mypy, pylint, pytest

README: use absolute container image repository references
  README.md
Due: none

whitespace
  README.md
Due: none

Use a single sed to calculate version number
  .github/workflows/main.yaml
Due: none

After bumping version number, regenerate lockfile
  .github/workflows/main.yaml
Due: none

README: include --host=net in all podman examples
  README.md
Due: none

Use development pre-release version and calculate container image version from it
  .github/workflows/main.yaml
  pyproject.toml
Due: none

Try to combine default and continer test suite results and publish them once
  .github/workflows/main.yaml
  poetry.lock
  pyproject.toml
Due: safety-check

Upload merged test resulst for bug report
  .github/workflows/main.yaml
Due: none

Skip pip-audit not safety-check in pre-commit workflow run
  .github/workflows/pre-commit.yaml
Due: none

Cache poetry venvs in workflow runs
  .github/workflows/main.yaml
  .github/workflows/pre-commit.yaml
Due: none

Specify bash shell in workflow defaults section
  .github/workflows/main.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/scan.yaml
Due: none

Install poetry before setup-python action
  .github/workflows/main.yaml
  .github/workflows/pre-commit.yaml
Due: none

Ignore errors combining/publishing JUnit XML files
  .github/workflows/main.yaml
Due: none

Use markers instead of pilot's suite facility for test selection
  .github/workflows/main.yaml
  README.md
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_container.py
Due: safety-check, mypy, pytest
