Repository yrro/rsync.net-exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, pytest, pip-audit

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  pass_filenames: false

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

pytest:
  name: pytest
  entry: poetry run pytest
  language: system
  pass_filenames: false

pip-audit:
  name: pip-audit
  entry: poetry run pip-audit --skip-editable --ignore-vuln=PYSEC-2023-242 --desc=on
  language: system
  pass_filenames: false

Update dependencies
  poetry.lock
Due: pip-audit

pre-commit: don't automatically update all dependencies to the latest version when updating the lock file after changes to pyproject.toml
  .pre-commit-config.yaml
Due: none

Adopt build.py improvements from ngfw-edl-server
  build.py
Due: mypy, pylint, pytest

test: use container command line to run container with debug logging
  tests/test_container.py
Due: mypy, pytest

Fix build
  Containerfile.builder
  build.py
Due: mypy, pylint, pytest

Update to Python 3.12
  README.md
  build.py
  poetry.lock
  pyproject.toml
Due: mypy, pylint, pytest, pip-audit

Update workflow to 3.12 too
  .github/workflows/main.yaml
Due: none

Enable prerelease Python versions for pipeline
  .github/workflows/main.yaml
Due: none

build: disable pip version check
  Containerfile.builder
Due: none

mypy: use python 3.12
  pyproject.toml
Due: none

build: tell micropipenv to not output a Pipfile.lock
  Containerfile.builder
Due: none

black
  build.py
Due: mypy, pylint, pytest

Dependency updates
  poetry.lock
Due: pip-audit

Remove httpie
  README.md
  poetry.lock
  pyproject.toml
Due: pip-audit

Update dependencies
  poetry.lock
  pyproject.toml
Due: pip-audit

Monitor container image with snyk
  .github/workflows/main.yaml
Due: none

No longer set default GitHub Actions workflow shell
  .github/workflows/main.yaml
Due: none

Publish container images at quay.io/yrro/rsync.net-exporter
  .github/workflows/main.yaml
  README.md
Due: none

Update package lists within actions runner
  .github/workflows/main.yaml
Due: none

build: upgrade packages within container images
  Containerfile.builder
  build.py
Due: mypy, pylint, pytest

Update poetry version used by pre-commit
  .pre-commit-config.yaml
Due: none

workflows: fix to work with Poetry 2.0
  .github/workflows/main.yaml
Due: none

Path conditions:
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: ^tests/
  pytest: any of: \.py$
  pip-audit: any of: ^poetry\.lock$
