Repository yrro/rsync.net-exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint, pytest, pip-audit

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  pass_filenames: false

pylint:
  name: pylint
  entry: poetry run pylint
  language: system

pytest:
  name: pytest
  entry: poetry run pytest
  language: system
  pass_filenames: false

pip-audit:
  name: pip-audit
  entry: poetry run pip-audit --skip-editable --ignore-vuln=PYSEC-2023-242 --desc=on
  language: system
  pass_filenames: false

Remove not-needed __init__.py from tests directory
  tests/__init__.py
Due: mypy, pytest

wording tweak
  pyproject.toml
Due: none

Re-introduce pytest-github-report
  .github/workflows/main.yaml
  poetry.lock
  pyproject.toml
Due: pip-audit

pre-commit workflow: only relevant for pull requests
  .github/workflows/pre-commit.yaml
Due: none

Use test-summary/action to summarize test results
  .github/workflows/main.yaml
Due: none

Include details of all tests in summarized results
  .github/workflows/main.yaml
Due: none

Do not include details of all tests in summarized results
  .github/workflows/main.yaml
Due: none

Remove pytest-github-actions-annotate-failures and pytest-github-report
  .github/workflows/main.yaml
  poetry.lock
  pyproject.toml
Due: pip-audit

Better name for main workflow
  .github/workflows/main.yaml
Due: none

tests: don't wait for container to be ready, just retry requests a few times
  tests/test_container.py
Due: mypy, pytest

Include production extras when running in production from the poetry-managed venv
  README.md
Due: none

Add "do not install" classifier
  pyproject.toml
Due: none

Document gunicorn.conf.py
  gunicorn.conf.py
Due: mypy, pylint, pytest

Drop Optional in favour of T | None
  src/rsync_net_exporter/__init__.py
Due: mypy, pylint, pytest

Bump to Python 3.11
  .github/workflows/main.yaml
  .github/workflows/pre-commit.yaml
  Containerfile
  poetry.lock
  pyproject.toml
Due: pip-audit

Install extras when running pre-commit workflow
  .github/workflows/pre-commit.yaml
Due: none

Appease pylint
  src/rsync_net_exporter/collector.py
  src/rsync_net_exporter/exporter.py
  src/rsync_net_exporter/log_config.py
Due: mypy, pylint, pytest

pre-commit: ignore known irrelevant Gunicorn request smuggling vulnerability
  .pre-commit-config.yaml
Due: none

Apply Final type hint
  src/rsync_net_exporter/__init__.py
  src/rsync_net_exporter/collector.py
  src/rsync_net_exporter/default_settings.py
  src/rsync_net_exporter/exporter.py
  src/rsync_net_exporter/log_config.py
Due: mypy, pylint, pytest

Silence warning from pip about running as root
  Containerfile
Due: none

Update pip cache comment since we don't use gssapi/ldap in this project
  Containerfile
Due: none

Be more explicit when explaining how we get micropipenv to install into the target venv without being installed in that venv itself
  Containerfile
Due: none

Use the system Python's pip to install into the runtime virtual environment
  Containerfile
Due: none

Configure which pip micropipenv should run with an environment variable
  Containerfile
Due: none

Upgrade gunicorn
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: pip-audit

No need to specify absolute path for MICROPIPENV_PIP_BIN
  Containerfile
Due: none

Delete old container images after pushing
  .github/workflows/main.yaml
Due: none

Grant permissions to container image prune step
  .github/workflows/main.yaml
Due: none

Remove explicit workflow permissions
  .github/workflows/main.yaml
Due: none

Fix job names
  .github/workflows/main.yaml
Due: none

Grant packages:write to test-build-push job
  .github/workflows/main.yaml
Due: none

Only prune if push ran
  .github/workflows/main.yaml
Due: none

Remove container image scan workflow
  .github/workflows/scan.yaml
Due: none

Try to split main workflow into separate test and build/push jobs
  .github/workflows/main.yaml
Due: none

Restore cached workspace before building container image
  .github/workflows/main.yaml
Due: none

Use a cache key that changes every run attempt
  .github/workflows/main.yaml
Due: none

Give up on splitting main workflow
  .github/workflows/main.yaml
Due: none

Enable layer caching
  .github/workflows/main.yaml
Due: none

Experimental workflow for building container image based on ubi-micro
  .github/workflows/micro.yaml
  Containerfile.builder
  build.py
Due: mypy, pylint, pytest

Alternative micro workflow that uses the dnf inside the builder container
  .github/workflows/micro.yaml
  Containerfile.builder2
  build-inside.py
Due: mypy, pylint, pytest

Path conditions:
  mypy: any of: \.py$
  pylint: any of: \.py$, but not: ^tests/
  pytest: any of: \.py$
  pip-audit: any of: ^poetry\.lock$
